.battler {
  width: 10vw;
  height: 20vh;
  z-index: -2;
}

.battler-stat {
  font-size: 12pt;
  margin: 0px;
}

.battler-position {
  font-size: 9pt;
}

#player {
  border: 2px solid green;
}

#computer {
  border: 2px solid red;
}
