.card {
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 95);
  width: 14vw;
  height: fit-content;
  margin: 1vw;
  padding: 1vh;
}

.maxed-card {
  border: 2px solid gold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px goldenrod;
  width: 14vw;
  height: fit-content;
  margin: 1vw;
  padding: 1vh;
}

.card-name {
  font-size: 15pt;
  font-weight: bold;
  color: blue;
  text-align: center;
  width: 12vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.card-stat {
  margin: 0px;
}

.single-stat-bar {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.single-stat-bar:hover {
  cursor: pointer;
  background: white;
}

.stat-title {
  width: 5vw;
}

.bar-form {
  align-self: center;
  color: transparent;
  font-size: 2vh;
  background: red;
  line-height: 2vh;
}

.bar-form:hover {
  background-color: transparent;
  border: 1px solid red;
  color: blue;
  background: white;
}

.value-form {
  font-size: 2vh;
  line-height: 2vh;
  margin-top: 1vh;
}

.win-loss-ratio {
  border: 1px solid black;
  margin-top: 2vh;
  padding: 0.5vh;
}

.request-trade-button {
  width: 7vw;
  height: 6vh;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-style: solid;
  border-color: red;
  border-width: 1px 3px 3px 1px;
  color: red;
  text-align: center;
}

.request-trade-button:hover {
  cursor: pointer;
  background-color: pink;
}

.request-trade-button:active {
  border-width: 3px 1px 1px 3px;
}

.offer-trade-button {
  width: 7vw;
  height: 4vh;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-style: solid;
  border-color: blue;
  border-width: 1px 3px 3px 1px;
  color: blue;
  text-align: center;
}

.offer-trade-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.offer-trade-button:active {
  border-width: 3px 1px 1px 3px;
}


.destroy-card-button {
  border: 2px solid red;
  margin-top: 1vh;
  color: red;
  border-radius: 5px;
  width: 6vw;
  background-color: transparent;
  position: relative;
  left: 8vw;
}

.destroy-card-button:hover {
  background-color: pink;
  cursor: pointer;
}