.battle-input-ref {
  position: fixed;
  left: 20vw;
  top: 5vh;
  width: 0.5vw;
  height: 0.5vh;
}

.attack-buttons {
  position: fixed;
  left: 25vw;
  top: 7vh;
}

.choose-card-screen {
  border: 1px solid black;
  position: fixed;
  left: 35vw;
  top: 30vh;
  width: 30vw;
  height: 30vh;
}

.card-screen-header {
  margin: 0px;
  text-align: center;
  font-weight: bold;
  color: blue;
}
