.offer-screen {
  position: fixed;
  left: 21vw;
  top: 15vh;
  width: 30vw;
  height: 60vh;
  border: 2px solid magenta;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px purple;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-screen {
  position: fixed;
  left: 61vw;
  top: 15vh;
  width: 30vw;
  height: 60vh;
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px darkblue;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-request-header {
  position: fixed;
  left: 36vw;
  width: 40vw;
  height: 5vh;
  top: 5vh;
  text-align: center;
  border: 1px solid green;

}