.set-stats-screen {
  position: fixed;
  left: 30vw;
  top: 30vh;
  width: 40vw;
  height: 40vh;
  border: 1px solid black;
}

.stat-inputs {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin: 1vw;
}

.upload-card-button {
  height: 5vh;
  width: 8vw;
  position: fixed;
  left: 55vw;
  top: 35vh;
}
