.trade-request-my-cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 20vw;
  height: 80vh;
  position: fixed;
  left: 60vw;
  top: 14.5vh;
  border: 2px solid magenta;
}

.trade-request-my-cards-header {
  position: fixed;
  left: 60vw;
  top: 9vh;
  font-size: 4vh;
}