.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85vh;
  overflow-y: scroll;
}

.make-card-prompt {
  position: fixed;
  left: 45vw;
  width: 25vw;
  top: 15vh;
}

.make-card-alert {
  font-size: 20pt;
  color: blue;
  font-weight: bold;
}