.trade-request {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  border: 1px solid black;
  border-radius: 5px;
  gap: 3vh;
  margin: 1vw;
}

.view-trade {
  width: 10vw;
  height: 5vh;
  border-color: blue;
  border-width: 1px 3px 3px 1px;
  align-self: center;
}