.user-tab {
  border: 2px solid rgb(0, 154, 0);
  box-shadow: 2px 2px 2px 2px darkgreen;
  background: lightgreen;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
  margin-bottom: 1vh;
}

.tab-stat {
  text-align: center;
  margin: 0px;
}

.cards-link {
  font-size: 10pt;
  text-align: center;
  color: red;
  margin: 0px;
}

.profile-link {
  font-size: 10pt;
  text-align: center;
  color: blue;
  margin: 0px;
}

.cards-link:hover {
  cursor: pointer;
  color: darkred;
}

.profile-link:hover {
  cursor: pointer;
  color: darkblue;
}

.tab-id {
  font-size: 7pt;
  margin: 0px;
  margin-left: 0.5vw;
}


.tab-image {
  width: 7vw;
  height: 7vw;
  border: 1px solid black;
  margin-top: -2vw;
  margin-left: 0.5vh;
}