body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html { 
  background: linear-gradient(blue, magenta) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page {
  position: fixed;
  left: 20vw;
  top: 5vh;
  width: 75vw;
  height: 90vh;
  border: 1px solid black;
  background: linear-gradient(45deg, white, rgb(255, 254, 217));
  padding: 1vw;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding-left: 2.5vw;
  padding-top: 2vh;
  height: 90vh;
  position: fixed;
  left: 5vw;
  top: 5vh;
  color: white;
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px purple;
  gap: 2vh;
}

.link {
  color: lightgreen;
  height: 5vh;
}

.link:visited {
  color: white;
}

.link:hover {
  background-color: red;
}

.login-button {
  width: 20vw;
  position: fixed;
  left: 47.5vw;
  top: 45vh;
  height: 10vh;
  border: 2px solid red;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px magenta;
  color: red;
  font-size: 18pt;
}

.login-button:hover {
  background-color: rgb(255, 173, 255);
  cursor: pointer;
}
